@import '../../style/variables'

.filters
    position: relative
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: space-around
    min-height: 250px
    &::after
        position: absolute
        content: ''
        top: 0
        left: -30%
        background: $orange
        height: 100%
        width: 1px
    &_post-list
        align-items: flex-start
        &::after
            left: -5%
.filter
    font-size: 18px
    line-height: 23px
    letter-spacing: 0.06em
    &__link
        color: $orange
        text-decoration: none
        transition: .3s
        &:hover
            color: $gray
        &_post-list
            color: #000000
            &:hover
                color: $orange

@media (max-width: 663px)
    .filters
        &::before
            position: absolute
            content: ''
            top: 0
            right: -30%
            background: $orange
            height: 100%
            width: 1px
        &_post-list
            &::before
                content: none

@media (max-width: 425px)
    .filters
        &_post-list
            min-height: 200px
    .filter
        &_post-list
            font-size: 15px
