.btn
    display: block
    width: 204px
    height: 50px
    color: #fff
    filter: drop-shadow(-10px 0px 16px rgba(0, 0, 0, 0.2))
    border: none
    border-radius: 5px
    background: $orange
    font-family: Montserrat
    font-style: italic
    font-size: 20px
    line-height: 50px
    text-decoration: none
    text-align: center
    transition: .4s
    z-index: 3
    &:hover
        background: $cream
        color: $dark-gray
        cursor: pointer
    &:disabled
        background: $light-gray
        color: $gray

@media (max-width: 500px)
    .btn
        width: 160px
        height: 40px
        line-height: 40px
        font-size: 17px
