.link
    position: relative
    font-family: Montserrat
    margin: 20px
    font-size: 20px
    line-height: 27px
    color: $orange
    text-decoration: none
    text-transform: uppercase
    &::before
        position: absolute
        content: ""
        top: 0
        left: -15px
        background: $orange
        width: 1px
        height: 27px
    &:visited
        color: $gray
        &::before
            background: $gray
