@import '../../../style/variables'

.promo
    padding: 40px 0
    background: url('../../../assets/mainPage/alinabg.jpg') #edded1 right top / cover no-repeat
    &__wrapper
        max-width: 50vw
        margin-left: 5vw
    &__title
        margin-bottom: 25px
        text-shadow: 1px 1px 10px rgba(237,222,209, 0.8)
    &__descr
        font-size: 18px
        line-height: 31px
        text-align: center
        letter-spacing: 0.025em
        margin-bottom: 35px
        text-shadow: 1px 1px 10px rgba(237,222,209, 0.8)
    &__menu-wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__quote
        margin-left: 14px
        max-width: 50%
        font-style: italic
        line-height: 107.1%
        &__wrapper
            display: flex
            align-items: center
            max-width: 70%
            background: $cream

@media (max-width: 1024px)
    .promo
        background: none
        padding: 0
        &__wrapper
            margin-left: 0
        &__info
            width: 100vw
            height: 100vh
            background: url('../../../assets/mainPage/alinabg.jpg') #edded1 right top / cover no-repeat
            padding-left: 5vw
        &__title
            max-width: 50vw
            margin-bottom: 10px
            text-shadow: 4px 1px 7px rgba(237,222,209,0.7)
        &__descr
            max-width: 50vw
            font-size: 17px
            line-height: 25px
        &__menu-wrapper
            width: 100vw
            padding: 37px 25% 60px 39px

@media (max-width: 663px)
    .promo
        &__wrapper
            max-width: 100vw
            text-align: center
        &__info
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../../../assets/mainPage/alinabg.jpg') #edded1 right top / cover no-repeat
            padding: 20px
        &__title, &__descr
            max-width: 100vw
        &__menu-wrapper
            flex-direction: column
            align-items: center
            padding: 20px 60px
        &__quote__wrapper
            max-width: 85%
            padding: 20px
            margin-bottom: 20px
        &__quote
            max-width: 100%

@media (max-width: 375px)
    .promo
        h1.promo__title
            font-size: 55px
        h2.promo__title
            text-align: right
            font-size: 28px
        &__descr
            font-size: 16px
            line-height: 21px

.reviews
    padding-bottom: 30px
    &__all
        position: relative
        width: 100%
        height: 300px
        background: url('../../../assets/mainPage/portfolio.jpg') center center / cover no-repeat
        text-align: center
        margin-bottom: 70px
    &__title
        position: absolute
        bottom: 25%
        right: 50%
        transform: translateX(50%)
        font-family: Raleway
        font-size: 30px
        letter-spacing: -0.065em
        color: #FFFFFF
        text-transform: uppercase
    &__btn
        position: absolute
        bottom: 3%
        right: 50%
        transform: translateX(50%)
    &__taste__title
        position: relative
        margin-bottom: 50px
        text-align: center
        font-size: 70px
        font-weight: bold
        letter-spacing: -0.06em
        text-transform: uppercase
        color: $orange
        padding-bottom: 35px
        span
            position: absolute
            bottom: 0
            right: 30%
            font-size: 18px
            font-weight: normal
            letter-spacing: 0.015em
            text-transform: uppercase
            color: $dark-gray
            margin-top: -30px
        &::after
            position: absolute
            content: ''
            top: -15%
            left: 0
            width: 65vw
            height: 1px
            background: $orange
        &::before
            position: absolute
            content: ''
            bottom: -15%
            right: 0
            width: 65vw
            height: 1px
            background: $orange
    &__last
        display: flex
        flex-wrap: wrap
        justify-content: space-around
    &__item
        position: relative
        max-width: 30%
        text-align: center
        &::after
            position: absolute
            content: ''
            top: 5%
            left: 5%
            width: 90%
            height: 90%
            background: $light-gray
            z-index: -1
        &__title
            font-size: 26px
            text-transform: uppercase
            line-height: 120.4%
            color: $orange
            margin-bottom: 19px
        &__descr
            font-size: 17px
            line-height: 126.6%
            letter-spacing: 0.015em
            margin-bottom: 65px
        &__btn
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)

@media (max-width: 768px)
    .reviews
        &__taste__title
            font-size: 54px
        &__last
            flex-direction: column
            align-items: center
        &__item
            margin-bottom: 30px
            max-width: 70%
            &::after
                top: 3%
            &__title
                font-size: 20px

@media (max-width: 500px)
    .reviews
        &__all
            height: 200px
        &__title
            bottom: 35%
        &__taste__title
            font-size: 40px
            margin-bottom: 30px
            padding-bottom: 20px
            span
                font-size: 14px
                right: 10%
        &__item
            max-width: 85%
            &__descr
                font-size: 15px
