@import '../../../style/variables'

.single-post
    padding: 30px 0
    text-align: center
    &__title
        font-family: Raleway
        font-size: 30px
        line-height: 48px
        letter-spacing: -0.025em
        color: $dark-gray
        margin-bottom: 40px
    &__img
        margin: 0 auto
        max-width: 100%
        max-height: 100vh
        object-fit: cover
        margin-bottom: 20px
    &__descr
        font-family: Montserrat
        font-size: 17px
        line-height: 37px
        letter-spacing: 0.06em
