@import './fonts.sass'
@import './variables.sass'
@import './reset.sass'
@import './elements/titles.sass'
@import './elements/buttons.sass'
@import './elements/links.sass'

.app
    font-family: Montserrat

.container
    max-width: 90vw
    margin: 0 auto

.pulse
    animation: pulse 1.5s ease-in-out .5s infinite

@keyframes pulse
    0%
        opacity: 1

    50%
        opacity: .4

    100%
        opacity: 1

@media( max-width: 768px)
    .container
        max-width: 100%
